@font-face {
            font-family: sfb;
            src: url(./sfb.woff2);
        }

        @font-face {
            font-family: sfr;
            src: url(./sfr.woff2);
        }

        body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            background: #fff;
            font-family: sfr, Arial, sans-serif;
            color: #333;
            font-display: optional;
        }

        .greeting {
            position: absolute;
            width: 100vw;
        }

        .gradient {
            width: 200vw;
            height: 200vh;
            top: -100vh;
            left: -100vw;
            background-image: radial-gradient(#ffffff 55%, transparent);
            background-size: 100vw 100vh;
            position: absolute;
            z-index: 2;
        }

        .grid {
            z-index: 1;
            background-color: #fff;
            background-image:
                linear-gradient(to right, #dfdfdf 2px, transparent 1px),
                linear-gradient(to bottom, #dfdfdf 2px, transparent 1px);
            background-size: 5vw 5vw;
            width: 100vw;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
        }

        h1 {
            z-index: 3;
            position: relative;
            font-family: sfb, Arial, sans-serif;
            text-align: center;
            font-size: 52px;
            line-height: 69px;
            margin-top: 20vh;
            color: #000;
            user-select: none;
        }

        h1 span {
            background: #44ff004a;
            color: #1b8600;
            padding: 1px 10px 3px 10px;
            border-radius: 10px;
        }

        .buttons {
            z-index: 3;
            position: relative;
            display: flex;
            justify-content: center;
            margin-top: 5vh;
            user-select: none;
        }

        button {
            border: none;
            padding: 12px 24px;
            border-radius: 12px;
            cursor: pointer;
            margin: 0 6px;
            transition: 0.3s ease;
            font-family: sfr, Arial, sans-serif;
        }

        button p {
            font-size: 20px;
            margin: 0;
        }

        .b1 {
            background: #0084ff;
        }

        .b1 p {
            color: #fff;
        }

        .b1:hover {
            transform: scale(1.05);
        }

        .b2 {
            background: none;
            border: 2px solid #eee;
        }

        .b2 p {
            color: #555;
        }

        .b2:hover {
            transform: scale(1.05);
        }

        .container {
            height: 100vh;
            width: 100vw;
            position: relative;
        }

        .info {
            max-width: 700px;
            margin: 50px auto 100px auto;
            padding: 30px 25px;
            font-family: sfr, Arial, sans-serif;
            color: #333;
            position: relative;
            z-index: 4;
        }

        .info h2 {
            font-family: sfb, Arial, sans-serif;
            font-size: 36px;
            margin-bottom: 30px;
            color: #000000;
        }

        .info article {
            margin-bottom: 30px;
        }

        strong {
            color: #0084ff;
        }

        .info h3 {
            font-size: 24px;
            margin-bottom: 15px;
            color: #0084ff;
        }

        .info p {
            font-size: 18px;
            line-height: 1.6;
            margin: 0;
        }

        @media screen and (max-width: 768px) {
            h1 {
                font-size: 44px;
                line-height: 59px;
            }

            .info h2 {
                font-size: 32px;
            }

            .info h3 {
                font-size: 22px;
                margin-bottom: 12px;
            }

            .info p {
                font-size: 17px;
                line-height: 1.5;
            }

            button {
                padding: 10px 20px;
                border-radius: 11px;
            }

            button p {
                font-size: 18px;
                margin: 0;
            }

            .grid {
                background-size: 7.5vw 7.5vw;
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        @media screen and (max-width: 540px) {
            h1 {
                font-size: 38px;
                line-height: 50px;
                margin-top: 22vh;
            }

            .info h3 {
                font-size: 21px;
            }

            .info p {
                font-size: 16px;
                line-height: 1.5;
            }

            button {
                padding: 9px 18px;
            }

            button p {
                font-size: 18px;
                margin: 0;
            }

            .grid {
                background-size: 10vw 10vw;
                width: 100vw;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .nowrap {
            text-wrap: nowrap;
        }